##实体类和全类名
#set($entityClass = "${crudConfig.entityName}${crudConfig.entitySuffix}")
#set($fullEntityClass = "${crudConfig.entityPackage}.${entityClass}")
##数据访问对象
#set($daoClass = "${crudConfig.entityName}${crudConfig.daoSuffix}")
#set($fullDaoClass = "${crudConfig.daoPackage}.${daoClass}")
##视图对象
#set($voClass = "${crudConfig.entityName}${crudConfig.VOSuffix}")
#set($fullVoClass = "${crudConfig.voPackage}.${voClass}")
##仓库对象
#set($repositoryClass = "${crudConfig.entityName}${crudConfig.repositorySuffix}")
#set($fullRepositoryClass = "${crudConfig.repositoryPackage}.${repositoryClass}")
