#parse("crud/base.vm")
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$fullDaoClass">
    <resultMap id="BaseResultMap" type="$fullEntityClass">
        #foreach($column in $crudConfig.columnList)
        #if($column.isPrimaryKey)
        <id property="${column.fieldName}" column="${column.columnName}" jdbcType="${column.jdbcType}"/>
        #else
        <result property="${column.fieldName}" column="${column.columnName}" jdbcType="${column.jdbcType}"/>
        #end
        #end
    </resultMap>

    <resultMap id="BaseVOMap" type="$fullVoClass" extends="BaseResultMap"/>

    <sql id="BaseWhere">
        #foreach($column in $crudConfig.columnList)
        <if test="${column.fieldName} != null and ${column.fieldName} != ''">
            ${column.columnName} = #{${column.fieldName}, jdbcType=${column.jdbcType}}
        </if>
        #end
    </sql>
</mapper>
