#parse("crud/base.vm")
package $daoPackage;

import org.apache.ibatis.annotations.Mapper;

/**
* ${crudConfig.tableComment} 数据操作对象。
*
* @author ${crudConfig.author}
*/
@Mapper
public interface $daoClass {
}
