package $crudConfig.entityPackage;

import jakarta.persistence.Column;
import jakarta.persistence.Entity;

import java.io.Serial;
import java.io.Serializable;
#foreach ($item in $tableConfig.packageList)
${item}
#end

/**
 * ${tableConfig.tableComment}。
 *
 * @author ${crudConfig.author}
 */
@Entity(name = "${tableConfig.tableName}")
public class ${crudConfig.entityName} implements Serializable {
    @Serial
    private static final long serialVersionUID = 1L;
    #foreach ($item in $tableConfig.columnList)
    /**
     * ${item.comment}
     */
    @Column(name = "${item.columnName}"#if (!$item.isNullable), nullable = false #end)
    private ${item.javaType} ${item.fieldName};
    #end

    #foreach ($item in $tableConfig.columnList)
    public ${item.javaType} get${item.upperCamelFieldName}() {
        return this.${item.fieldName};
    }

    public void set${item.upperCamelFieldName}(${item.javaType} ${item.fieldName}) {
        this.${item.fieldName} = ${item.fieldName};
    }
    #end
}

