package $crudConfig.entityPackage;

import jakarta.persistence.Column;
import jakarta.persistence.Entity;
import jakarta.persistence.Id;

import java.io.Serial;
import java.io.Serializable;
#foreach ($item in $crudConfig.packageList)
${item}
#end

/**
 * ${crudConfig.tableComment} 实体类。
 *
 * @author ${crudConfig.author}
 */
@Entity(name = "${crudConfig.tableName}")
public class ${crudConfig.entityName} implements Serializable {
    @Serial
    private static final long serialVersionUID = 1L;
    #foreach ($item in $crudConfig.columnList)
    /**
     * ${item.comment}
     */
    #if ($item.isPrimaryKey)
    @Id
    #else
    @Column(name = "${item.columnName}"#if (!$item.isNullable), nullable = false #end)
    #end
    private ${item.javaType} ${item.fieldName};
    #end

    #foreach ($item in $crudConfig.columnList)
    public ${item.javaType} get${item.upperCamelFieldName}() {
        return this.${item.fieldName};
    }

    public void set${item.upperCamelFieldName}(${item.javaType} ${item.fieldName}) {
        this.${item.fieldName} = ${item.fieldName};
    }
    #end
}

