#parse("crud/base.vm")
package $crudConfig.daoPackage;

import $fullEntityClass;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
import org.springframework.stereotype.Repository;

/**
* $crudConfig.tableComment 仓库。
*
* @author $crudConfig.author
*/
@Repository
public interface $repositoryClass extends JpaRepository<$entityClass, String>, JpaSpecificationExecutor<$entityClass> {
}
